Java/glucas/src/main/resources/xml/validation/stats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="stats">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gender" type="xs:string"/>
                <xs:element name="birthdate" type="xs:string"/>
                <xs:element name="height" type="xs:double"/>
                <xs:element name="weight" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>